services:
  postgres-planka:
    container_name: postgres-planka
    image: postgres:16-alpine
    restart: unless-stopped
    environment:
      POSTGRES_DB: planka
      POSTGRES_HOST_AUTH_METHOD: trust
      PUID: "1000"
      PGID: "1000"
      TZ: "Australia/Brisbane"
    networks:
      - planka
    volumes:
      - "/data/planka/postgres:/var/lib/postgresql/data"
  
  planka:
    container_name: planka
    image: ghcr.io/plankanban/planka:2.0.0-rc.4
    restart: unless-stopped
    networks:
      - proxy
      - planka
    volumes:
      - "/data/planka/favicons:/app/public/favicons"
      - "/data/planka/user-avatars:/app/public/user-avatars"
      - "/data/planka/background-images:/app/public/background-images"
      - "/data/planka/attachments:/app/private/attachments"
    environment:
      BASE_URL: https://planka.comprofix.xyz
      DATABASE_URL: postgresql://postgres@postgres-planka/planka
      SECRET_KEY: "{{SECRET_KEY}}"
      TRUST_PROXY: "true"
      PUID: "1000"
      PGID: "1000"
      TZ: "Australia/Brisbane"
      DEFAULT_ADMIN_EMAIL: "{{ planka_email }}"
      DEFAULT_ADMIN_PASSWORD: "{{ planka_password }}"
      DEFAULT_ADMIN_NAME: "{{ planka_name }}"
      DEFAULT_ADMIN_USERNAME: "{{ planka_username }}"
    labels:
      traefik.enable: "true"
      traefik.http.routers.planka.rule: "Host(`planka.comprofix.xyz`)"
      traefik.http.routers.planka.entrypoints: "https"
      traefik.http.routers.planka.tls: "true"
      traefik.http.services.planka.loadbalancer.server.port: "1337"
      traefik.http.services.planka.loadbalancer.server.scheme: "http"
      traefik.docker.network: "proxy"

networks:
  proxy:
    external: true
  planka: